<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Eat-Da-Burger! App</title>
    <link rel="stylesheet" type="text/css" href="/burger_style">

</head>
<body>
 <div class="container" id ="man">

<img  id = "pic" src="/burger" alt="Burger" width="200px"  ></a>

    {{{body}}}

 </div>
</body>
</html>